@import "./colors";

.write_input_node input[type="text"],
.write_input_node input[type="password"],
.write_input_parent > input[type="text"],
.write_input_parent > input[type="password"],
.write_input_node select,
.write_input_parent > select,
.write_input {
    outline: none;
    border: 2px solid #767676;
    text-indent: 5px;

    &:focus {
        border-color: #000000;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.7);
    }
}

.wrong_write_input_node input[type="text"],
.wrong_write_input_node input[type="password"],
.wrong_write_input_parent > input[type="text"],
.wrong_write_input_parent > input[type="password"],
.wrong_write_input {
    border: 2px solid $negative-color;
    box-shadow: 0 0 3px 0 rgba($negative-color, 0.5);
}