@import "../../../styles/colors";

$text-color: #434343;

.user_list {
    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 15px;
        font-size: 2rem;
        color: $text-color;
    }
}

.add_user_button {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
}

.info_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
    
    &:first-child {
        margin-left: 2px;
    }

    &:last-child {
        margin-right: 2px;
    }
}

.user_table {
    width: 100%;
    height: 355px;
    margin-top: 20px;
    background-color: #E5E5E5;
}

.page_button_block {
    display: flex;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

.page_button_block > button {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    font-size: 1.7rem;

    &:last-child {
        margin-right: 0;
    }
}

.modal_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #E5E5E5;
}

.modal_form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;

    h2 {
        margin-top: 30px;
        font-size: 2.5rem;
    }
}

.modal_form_text_block {
    margin-top: 20px;

    p {
        margin-top: 10px;
        font-size: 1.7rem;
    }
}

.modal_form_button_block {
    display: flex;
    width: 100%;
    height: 15%;
}

.modal_form_button_block > button {
    width: 100%;
    margin-bottom: 10px;

    &:first-child {
        margin-left: 10px;
        margin-right: 5px;
    }

    &:last-child {
        margin-right: 10px;
        margin-left: 5px;
    }
}